header {
    background-color: #333;
    color: aqua;
    font-size: 1.5em;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    background-color: #eee;
    margin: 0px;
    height: 800px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.2em;
}

.pwrdError {
    display: block;
}

.container {
    padding: 20px;
    margin: auto;
    width: 50%;
}

input {
    margin-bottom: 15px;
    width: 92%;
    font-size: 1.2em;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #333;
}

input[type=submit] {
    margin-top: 20px;
    background-color: #333;
    color: aqua;
    display: block;
    padding-top: 12px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 1.4em;
}

input[type=submit]:hover {
    background-color: aqua;
    color: #000;
}

.fas {
    font-size: 1.2em;
    margin-right: 15px;
}

.error {
    color: red;
    display: block;
}

.fa-times-circle {
    color: red;
}

.fa-check-circle {
    color: green;
}